.work {
  width: 100%;
  height: fit-content;
}

.work-header {
  width: 100%;
  height: 40vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.work-header h3 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 10px;
}

.work-card {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  width: 40%;
  height: 65vh;
  border: 1px solid black;
}

.product-desc {
  background-color: #525153;
  color: #fff;
  padding: 3rem;
}

.product-desc h3 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.product-desc p {
  font-size: 1.2rem;
  line-height: 1.4;
  padding-bottom: 1.5rem;
}

.product-desc button {
  padding: 20px 50px;
}

.odd {
  background-color: #ff6809;
  color: #000;
}